html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  display: block;
  width: 1200px;
  margin: 0 auto;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
input,
button {
  outline: none;
  border: none;
}
