.list {
  width: 105px;
  display: flex;
  padding-bottom: 30px;
  padding-top: 20px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: #2196f3;
  font-family: "Open Sans", sans-serif;
}
.list__item {
  padding-left: 20px;
}
.link:hover {
  color: red;
  fill: red;
}
