.item {
  width: 500px;
  margin: 25px;
}

.item__title {
  color: #2196f3;
  padding-bottom: 5px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.item__category {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 5px;
  text-align: center;
}
.item__topic {
  font-family: "Open Sans", sans-serif;
  color: #ff0000;
}

.item__text {
  text-indent: 10px;
  letter-spacing: 0.05rem;
  line-height: 1.3rem;
  font-style: italic;
}

.without_summary {
  padding-top: 30px;
  text-align: center;
  text-indent: 10px;
  letter-spacing: 0.05rem;
  line-height: 1.3rem;
  font-style: italic;
}
